{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <h3>Card</h3>
        <a href="{{ path('card-deck') }}">Deck</a><br/>
        <a href="{{ path('card-deck-2') }}">Deck with jokers</a><br/>
        <a href="{{ path('card-shuffle') }}">Shuffle</a><br/>
        <a href="{{ path('card-draw') }}">Draw</a><br/>
        <a href="{{ path('card-deal') }}">Deal</a><br/>
        <a href="{{ path('api-deck') }}">JSON Deck</a><br/>
        <a href="{{ path('api-shuffle') }}">JSON Shuffle</a><br/>
        <a href="{{ path('api-draw') }}">JSON Draw</a><br/>
    </div>
{% endblock %}
