{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <pre>
        {{ players | json_encode(constant('JSON_PRETTY_PRINT')) }}
    </pre>
    <div class="flex-column-center">
        {% for player in players %}
            <p class="player">Spelare {{ player.id }}</p>
            {% set deck = player.hand %}
            {{ include ("block/show-cards.html.twig") }}
        {% endfor %}
        {{ include ("block/flash-message.html.twig") }}
        <div><p>Det är {{ amountLeft }} kort kvar i leken.</p></div>
        <form method="post">
            <input type="submit" name="new" value="Ny kortlek">
        </form>
    </div>
{% endblock %}
