{% extends "base.html.twig" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="flex-column-center container">
        {{ include ("block/show-cards.html.twig") }}
        {{ include ("block/flash-message.html.twig") }}
        <div><p>Det är {{ amountLeft }} kort kvar i leken.</p></div>
        {{ include ("form/draw-form.html.twig") }}
    </div>
{% endblock %}
