{% block head %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('styles/style.css') }}" rel="stylesheet"/>
    <title>{% block title %}{% endblock %} | OOPHP</title>
</head>
{% endblock %}
{% block body %}
    <body>
    <div class="container main">
        {% block header %}
            <header class="header">
                <img src="{{ asset('images/triangle.png') }}" class="center-img" height="100">
                <h2 class="">{{ block('title') }}</h2>
            </header>
        {% endblock %}
        {% block navigation %}
            <nav class="navbar">
                <div class="container">
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a href="{{ path('presentation') }}" class="navbar-link">Filip</a>
                        </li>
                        <li class="navbar-item">
                            <a href="{{ path('about') }}" class="navbar-link">MVC</a>
                        </li>
                        <li class="navbar-item">
                            <a href="{{ path('report') }}" class="navbar-link">Redovisning</a>
                        </li>
                        <li class="navbar-item">
                            <a href="{{ path('card-home') }}" class="navbar-link">Card</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
    {% block footer %}
        <div class="container">
            <footer class="footer">
                <p>&copy; Filip Lindberg 2022</p>
            </footer>
        </div>
    {% endblock %}
    </body>
{% endblock %}
</html>
